{% extends "base.html" %} 

{% block title %}Login{% endblock %} 

{% block content %}
<div class="login-wrapper">
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  {{field.label}}
  {{field}} <br> <br>
  {% if field.errors %}
  <ul class="errors">
    {% for error in field.errors %}
        <li>{{error}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  <br>
  <button type="submit" class="button">Log In</button>
</form>

<p>Not registered Yet</p>
<p><a href="{% url 'signup' %}" class="a-signup">Sign Up</a></p>
</div>
{% endblock %}