{% extends "base.html" %}

{% block header %} 
{% if user.is_authenticated %}
<li class="name"><a href="{% url 'home' %}">
Hi {{ user.username }}!
</li>
<li><a href="{% url 'home' %}">Home</a></li>
{% if user.role == "CTO" %}
    <li><a href="{% url 'employees' %}">Employees</a></li>
    <li><a href="{% url 'teams' %}">Teams</a></li>
    {% comment %} <li><a href="{% url 'password_change' %}">Password Change</a></li> {% endcomment %}
        <li class="right"><form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
            <button type="submit" class="button">Log Out</button>
            </form></li>

 {% comment %} {% elif user.role == "PM" %} {% endcomment %}
 {% else %}
 <li><a href="{% url 'create-ticket' %}">Ticket</a></li>
 <li><a href="{% url 'employees' %}">Employees</a></li>
    {% comment %} <li><a href="{% url 'password_change' %}">Password Change</a></li> {% endcomment %}
        <li class="right"><form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
            <button type="submit" class="button">Log Out</button>
            </form></li>
 {% comment %}
{% elif user.role == "TL-Python" %}
{% elif user.role == "TL-JS" %}
{% else %} {% endcomment %}
{% endif %}

{% endif %}
{% endblock %}

{% block content %}
<div class="ticket-page">
{% if user and ticket %}
    <div class="ticket">
    <h3>Ticket {{ticket.id}}</h3>
    <p>Title: <i>{{ticket.title}}</i></p> 
    <p>Detail: </p>
    {{ticket.detail|linebreaksbr}} <br><br>

    <div>
        {% if ticket.created_by == user %}
        <span>
            {% csrf_token %}
            <button type="submit" class="edit-btn b1 button" data-ticket-id="{{ticket.id}}">Edit</button>
        </span>
        {% endif %}
        {% comment %} <span>
            {% csrf_token %}
            <button type="submit" class="delete-btn1 b1 button" data-ticket-id="{{ticket.id}}">Delete</button>
        </span> {% endcomment %}
    </div>

    </div>

    <div class="comment">
        <h3>Add Comment</h3>
        <form method="POST">
            {% csrf_token %}
            {{form1.as_p}}
            <input type="hidden" name="ticket" value="{{ticket}}">
            <button type="submit" name="comment" class="button">Comment</button> <br><br>
        </form>
    </div>
    <div class="list-comments">
        <h3>Comments:-</h3>
        {% if comments %}
        {% for comment in comments %}
        <b>{{comment.user}}</b> <br>
        {{comment.detail}} <br>
        {{comment.created_at}}<br><br>
        {% endfor %}
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock %}